Repository ansys/magnet-segmentation-toolkit, pull requests merged in 2025-05, with the labels that each got.

#248 FIX: Fix release artifacts
  .github/workflows/ci_cd.yml
  doc/changelog.d/248.fixed.md
Labels: bug, maintenance

#251 FIX: improve skew
  doc/changelog.d/251.fixed.md
  doc/source/Toolkit/ui.rst
  src/ansys/aedt/toolkits/magnet_segmentation/backend/workflows/aedt.py
Labels: bug

#254 CHORE: update cicd and add linux tests
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  doc/Makefile
  doc/changelog.d/254.maintenance.md
  doc/source/conf.py
  doc/source/examples/maxwell3d_segmentation_skew.py
  doc/source/getting_started/installation.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  setup.nsi
  src/ansys/aedt/toolkits/magnet_segmentation/ui/models.py
  src/ansys/aedt/toolkits/magnet_segmentation/ui/run_frontend.py
Labels: documentation, enhancement, maintenance

#256 CHORE: add codecov.yml
  codecov.yml
  doc/changelog.d/256.maintenance.md
Labels: enhancement

#258 FIX: rotate insulation sheet + update cicd pypi
  .github/workflows/ci_cd.yml
  doc/changelog.d/258.fixed.md
  src/ansys/aedt/toolkits/magnet_segmentation/backend/workflows/aedt.py
Labels: bug, maintenance
